<h1><%= @list.name %></h1>

<ul>
  <% @list.movies.each do |movie| %>
    <li>
      <%= movie.title %>
      <p>overview: <%= movie.overview %></p>
      <p>rating: <%= movie.rating %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Back to lists", lists_path, class: 'btn btn-primary' %>
